In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
dss=pd.read_csv("modified_dataset.csv")

In [3]:
dss

,0,54865,3,2,0.1,12,0.2,6,6.1,6.0,...,20,0.0.11,0.0.12,0.29,0.30,0.0.13,0.0.14,0.31,0.32,0.33
0,1,55054,109,1,1,6,6,6,6,6.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1,2,55055,52,1,1,6,6,6,6,6.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
2,3,46236,34,1,1,6,6,6,6,6.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
3,4,54863,3,2,0,12,0,6,6,6.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
4,5,54871,1022,2,0,12,0,6,6,6.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225739,225740,61374,61,1,1,6,6,6,6,6.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
225740,225741,61378,72,1,1,6,6,6,6,6.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
225741,225742,61375,75,1,1,6,6,6,6,6.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
225742,225743,61323,48,2,0,12,0,6,6,6.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
225743,225744,61326,68,1,1,6,6,6,6,6.0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0

In [4]:
dss.dtypes

0           int64
54865       int64
3           int64
2           int64
0.1         int64
           ...
0.0.13    float64
0.0.14    float64
0.31        int64
0.32        int64
0.33        int64
Length: 80, dtype: object

In [5]:
dss.columns

Index(['0', '54865', '3', '2', '0.1', '12', '0.2', '6', '6.1', '6.0', '0.0',
       '0.3', '0.4', '0.0.1', '0.0.2', '4000000', '666666.6667', '3.0',
       '0.0.3', '3.1', '3.2', '3.3', '3.0.1', '0.0.4', '3.4', '3.5', '0.5',
       '0.0.5', '0.0.6', '0.6', '0.7', '0.8', '0.9', '0.10', '0.11', '40',
       '0.12', '666666.6667.1', '0.0.7', '6.2', '6.3', '6.0.1', '0.0.8',
       '0.0.9', '0.13', '0.14', '0.15', '0.16', '1', '0.17', '0.18', '0.19',
       '0.20', '9.0', '6.0.2', '0.0.10', '40.1', '0.21', '0.22', '0.23',
       '0.24', '0.25', '0.26', '2.1', '12.1', '0.27', '0.28', '33', '-1',
       '1.1', '20', '0.0.11', '0.0.12', '0.29', '0.30', '0.0.13', '0.0.14',
       '0.31', '0.32', '0.33'],
      dtype='object')

In [6]:
dss.isnull()

,0,54865,3,2,0.1,12,0.2,6,6.1,6.0,...,20,0.0.11,0.0.12,0.29,0.30,0.0.13,0.0.14,0.31,0.32,0.33
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225739,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
225740,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
225741,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
225742,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
225743,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
dss.isnull().sum()

0         0
54865     0
3         0
2         0
0.1       0
         ..
0.0.13    0
0.0.14    0
0.31      0
0.32      0
0.33      0
Length: 80, dtype: int64

In [8]:
dss.isnull().sum().sum()

4

In [9]:
ds=dss.fillna(value=0)

In [10]:
ds.isnull().sum().sum()

0

In [11]:
feature_col=['0', '54865', '3', '2', '0.1', '6.2', '6.3', '0.24', '0.25', '0.26', '2.1', '12.1', '0.27', '0.28', '33', '0.31', '0.32']
x=ds[feature_col]

In [12]:
x.dtypes

0        int64
54865    int64
3        int64
2        int64
0.1      int64
6.2      int64
6.3      int64
0.24     int64
0.25     int64
0.26     int64
2.1      int64
12.1     int64
0.27     int64
0.28     int64
33       int64
0.31     int64
0.32     int64
dtype: object

In [13]:
y=ds['0.33']

In [14]:
y

0         0
1         0
2         0
3         0
4         0
         ..
225739    0
225740    0
225741    0
225742    0
225743    0
Name: 0.33, Length: 225744, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [16]:
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [17]:
classifiers= [['Naive Bayes:',GaussianNB()],['LogisticRegression:',LogisticRegression(max_iter=1000)],['DecisionTree:',DecisionTreeClassifier()]]

In [18]:
predictions_ds=pd.DataFrame()
predictions_ds['action']=y_test

In [19]:
for name, classifier in classifiers:
    classifier=classifier
    classifier.fit(x_train,y_train.ravel())
    predictions=classifier.predict(x_test)
    predictions_ds[name.strip(":")]=predictions
    print(name, accuracy_score(y_test,predictions))

Naive Bayes: 0.7882582245585021
LogisticRegression: 0.8542318823459926
DecisionTree: 0.9999704683716261

In [20]:
predictions_ds

        action  Naive Bayes  LogisticRegression  DecisionTree
101220       1            1                   0             1
65123        1            1                   0             1
156662       0            0                   0             0
166539       0            0                   0             0
142017       1            1                   1             1
...        ...          ...                 ...           ...
209059       0            0                   0             0
137345       0            1                   1             0
84493        1            1                   1             1
69238        0            0                   0             0
212516       0            0                   0             0

[67724 rows x 4 columns]

In [21]:
from sklearn.ensemble import VotingClassifier
clf1 = GaussianNB()
clf2 = DecisionTreeClassifier()
clf3 = LogisticRegression()


eclf1=VotingClassifier(estimators=[('Gaussian',clf1),('DecisionTree',clf2),('Logistic',clf3)],voting='hard')
eclf1.fit(x_train,y_train)
predictions=eclf1.predict(x_test)
print (predictions)

C:\Users\Walid Al Hassan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

[1 1 0 ... 1 0 0]

In [22]:
from sklearn.model_selection import cross_val_score
c = []
c.append(cross_val_score (clf1,x_train,y_train, scoring='accuracy', cv=10).mean())
c.append(cross_val_score (clf2,x_train,y_train, scoring='accuracy', cv=10).mean()) 
c.append(cross_val_score (clf3,x_train,y_train, scoring='accuracy', cv=10).mean())
print(c)

C:\Users\Walid Al Hassan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Walid Al Hassan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Walid Al Hassan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Walid Al Hassan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

[0.7912036451082141, 0.9998544488039489, 0.8573534995570181]

C:\Users\Walid Al Hassan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(